#NotFound {
  position: absolute;
  width: 90vw;
  height: 98%;
  background-position: center;
  background-image: url("../../../assets/img/error/NotFound.png");
  background-size: cover;
}

#NotFoundCreditImage {
  visibility: hidden;
}
